body {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  margin-top: 0px;
  overflow-y: auto;
}
.bg-color {
  background-image: linear-gradient(to bottom, #13547a 50%, #80d0c7 50%);
  padding-bottom: 100px;
}
.container {
  display: flex;
  list-style: none;
  justify-content: space-between;
  background-color: #13547a;
  position: fixed;
  width: 100%;
  
}

#Topic {
  font-size: larger;
  margin-left: 30px;
}

.Center {
  display: flex;
  color: white;
  background-color:#13547a;
}

.Center li:hover {
  color: black;
  text-decoration: underline;
}

.Center li {
  margin: 3px 40px 0;
}
.discover {
  text-align: center;
  color: rgb(228, 212, 212);
}
.discover h1 {
  font-size: 58px;
}
.discover span {
  font-size: 22px;
}
.Form {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  width: 40vw;
  border-radius: 20px;
  background-color: white;
  padding: 10px;
  margin: 0 auto;
}
/* .search{
    display: flex;
    border: 2px solid  black;
    border-radius: 20px;
    width: 40vw;
    background-color: white; 
} */
.web-design {
  width: 400px;
  text-align: justify;
  /* display: flex; */
  border: 2px solid;
  border-radius: 8%;
  font-size: large;
  background-color: white;
  box-shadow: -8px 10px 5px 0px;
  transition: all 1s;
  padding: 20px;
}
.web-design:hover {
  transform: scaleY(1.02);
}

.Finance {
  width: 600px;
  height: auto;
  /* text-align: justify; */
  border-radius: 10%;
  font-size: larger;
  background-size: cover;
  margin-left: 110px;
  transition: all 1s;
  box-shadow: -8px 10px 5px 0px;
}

.Finance:hover {
  transform: scaleY(1.02);
}
.logo {
  border: 2px solid;
  border-radius: 30px;
  padding: 6px;
  background-color: #80d0c7;
}

.button1 {
  border-radius: 10px;
  margin-left: 30px;
  padding: 5px;
  background-color: #80d0c7;
  color: white;
  font-size: large;
}

.button1:hover {
  background-color: #13547a;
}
.logo:hover {
  background-color: #13547a;
  border-style: none;
}
.web-finance {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.topics {
  display: flex;
  justify-content: space-around;
}
.topics li {
  list-style: none;
}
.topics li:hover {
  text-decoration: underline;
}

.W-G-L {
  display: grid;
  grid-template-areas: "web graphic logo";
  grid-template-columns: repeat(3, 400px);
  gap: 30px;
  margin: auto 50px;
  justify-content: space-around;
}
.web {
  grid-area: web;
  transition: all 1s;
  /* box-shadow: -26px 23px 133px -25px rgba(0,0,0,0.75); */
}
.grafix {
  grid-area: graphic;
  transition: all 1s;
  border-style: none;
  /* box-shadow: -26px 23px 133px -25px rgba(0,0,0,0.75); */
}
.logo-degn {
  grid-area: logo;
  transition: all 1s;
  border-style: none;
  /* box-shadow: -26px 23px 133px -25px rgba(0,0,0,0.75); */
}

.web:hover,
.grafix:hover,
.logo-degn:hover {
  transform: scaleY(1.02);
  box-shadow: -26px 23px 133px -25px rgba(0, 0, 0, 0.75);
}
.how {
  display: flex;
  justify-content: center;
  background-color: #13547a;
  background-image: url(https://themewagon.github.io/TopicListing/images/colleagues-working-cozy-office-medium-shot.jpg);
  padding-bottom: 10em;
  background-size: cover;
}
.icons {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 4em;
  font-size: larger;
  transition: all 1s;
  align-content: center;
}
.icons i:hover {
  background-color: #13547a;
}

.icons i {
  border: 3px solid white;
  border-radius: 70%;
  padding: 10px;
  color: white;
}
.checkout {
  border-radius: 16px;
  border: 2px solid #80d0c7;
  color: #80d0c7;
  font-weight: bolder;
  padding: 5px;
  align-items: end;
  transition: all 1s;
}
.checkout:hover {
  background-color: #80d0c7;
  color: white;
}
.A {
  border-radius: 20px;
  border: 1px solid;
}
.FAQS {
  display: flex;
  justify-content: space-around;

}
.faqs1 {
  display: flex;
  margin: 100px auto;
  justify-content: space-around;
  flex-direction: column;
}

.Map {
  border-radius: 30px;
}
.Address {
  display: flex;
  justify-content: space-around;
  /* height: 200px; */
}
.Footer {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.Footer h4 {
  font-size: larger;
}
.Footer li {
  padding: 5px;
}
.Footer div li a {
  color: #80d0c7;
}
.Footer li :hover {
  color: black;
}
.Footer div li {
  list-style: none;
}
/* @media screen and (min-width:250px) and (max-width:480px){
  
*{
  box-sizing: border-box;
}
  body {
    margin-top: 0px;
    overflow-y: auto;
  }
  .bg-color{
    background-size: 100%;
    background-image: linear-gradient(to bottom, #13547a 50%, #80d0c7 50%);
    padding-bottom: 100px;
  }
.container  {
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* background-color: #13547a; */
    /* background-color:#13547a;
    position: fixed;
  }
  .Center{
    background-color: yellow;
    font-size: 1em;
    margin-left: 10px;
    width: ;
  }
  #Topic {
    font-size: larger;
  }
  
  .Center {
    display: flex;
    color: white;
    background-color: pink;
  }
  
  .Center li:hover {
    color: black;
    text-decoration: underline;
  }
  
  .Center li {
    margin: 3px 40px 0;
  }
  

}
.discover {



}

.discover h1 {

}
.discover span {
  font-size: 22px;
} */ */
